.containerNotFound {
    position: relative;
    height: 80vh;
}

.notFound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notFoundTitle {
    font-size: 56px;
    font-weight: 400;
    letter-spacing: -.02em;
    line-height: .89em;
    color: #7E847F;
    margin-bottom: 30px;
}

.notFoundTitleInform {
    width: 300px;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: .89em;
    text-align: center;
    margin-bottom: 20px;
}

.notFoundImg {

    width: 150px;
    height: 150px;

}

.notFoundMessage {
    font-size: 19px;
    letter-spacing: -.01em;
    line-height: 1.29;
    text-align: center;
    margin-bottom: 20px;
}

.notFoundBtn {
    padding: 10px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #F6F6F6;
    color: #1B1B1B;
    transition: background-color .4s cubic-bezier(.4, 0, .2, 1), color .4s cubic-bezier(.4, 0, .2, 1), box-shadow .4s cubic-bezier(.4, 0, .2, 1);
}

.notFoundBtn:hover,
.notFoundBtn:focus {
    background-color: rgb(0, 70, 182);
    color: #F6F6F6;
    box-shadow: 0 1px 1px #00000024, 0 1px 3px #0000001f, 0 2px 1px #0003;
}